* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.appMain {
  background-image: linear-gradient(
    to right bottom,
    #dcd9dc,
    #d7cddb,
    #cdc2dd,
    #bfb9df,
    #abb1e3,
    #9bb5ec,
    #85baf3,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.navbarOutterBody {
  // max-width: 100vw;
  .navbarInnerBody {
    min-width: 98vw;
    // height: auto;
    display: flex !important;
    justify-content: space-between;
    // justify-content: space-around;
    padding: 0% 10% 0% 10%;
    align-items: center;
    .rightSide {
      img {
        width: 80px; /* Adjust the height of your logo as needed */
      }
    }
    .leftSide {
      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        @media (max-width: 860px) {
          display: none;
        }
        li {
          margin-left: 20px; /* Adjust the spacing between list items */
          cursor: pointer;
          font-size: 15px;
        }
      }
      .menubar {
        display: none;
        @media (max-width: 860px) {
          display: block;
        }
      }
    }
  }

  .menuItem {
    .listBtn {
      padding: 0% 10%;
      width: 100%;
      text-align: center;
      cursor: pointer;
      text-align: center;
      display: grid;
      justify-content: center;
      li {
        text-align: center;
        justify-content: center;
        padding: 1%;
        font-size: 15px;
        min-width: 80vw;
        border: 2px solid black;
        display: flex;
      }
    }

    .closeBtn {
      display: flex;
      justify-content: end;
    }
  }
}
/* Navbar.css */
.navbar {
  color: #fff;
  /* Add other styles as needed */
}

/* Add a CSS class for the fixed navbar */
.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #333;
  /* Add other styles as needed */
}
